@import "./variables.scss";

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 14px;
  line-height: 22px;
  color: $color-text;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: $font-main;
}

main {
  flex-grow: 1;
  min-height: 100vh;
}

.main {
  // background-image: url(../assets/img/bg-main.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

//scroll style
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: $green-cl;
  border: none;
  border-radius: 80px;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-text;
}

::-webkit-scrollbar-thumb:active {
  background: $dark-color;
}

::-webkit-scrollbar-track {
  background: $main-bgi;
  border: none;
  border-radius: 80px;
}

::-webkit-scrollbar-track:active {
  background: $light-green;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
