@import "../../sass/variables.scss";
@import "../../sass/mixins.scss";
.open-wrapper {
  margin-bottom: 25px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}
.open-disc {
  flex-direction: column;
  width: 80%;
}
.open-wrap-slid {
  width: 40%;
}
.open-wrap-form {
  width: 45%;
}
.landing-blog__wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  width: 100%;
}
.carousel-div {
  margin-bottom: 0.5rem;
  border: 1px solid hsl(0, 0%, 93%);
  border-radius: 10px;
  width: 100%;
  padding: 5px;
}
.form-group {
  margin-bottom: 1rem;
}
.needclear {
  border-radius: 100px;
  height: 45px;
  padding: 5px 15px;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 2px solid hsl(353, 100%, 78%) !important;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  &:active {
    border: 2px solid hsl(353, 100%, 78%) !important;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.img_block {
  width: 100%;
  position: relative;
  height: 100%;
  display: block;
}
.img_block .play {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #e72a4d url(https://dasturxon.tv/images/play.svg) no-repeat center
    right 17px;
  background-size: 20px auto;
  transition: all 0.3s linear;
  transform: translate(-50%, -50%);
}
.main_video_block {
  display: flex;
  justify-content: space-between;
  background: #ffffff;
  box-shadow: 0px 20px 50px rgb(0 163 103 / 10%);
  margin-bottom: 80px;
}
.fancybox-containe {
  // -webkit-backface-visibility: hidden;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.774);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1111;
}
.fancybox-toolbar {
  right: 30;
  top: 30;
  z-index: 115552511;
  position: absolute;


}
.fancybox-is-open .fancybox-bg {
  opacity: 0.9;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1);
}
.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71);
}
.fancybox-bg,
.fancybox-inner,
.fancybox-outer,
.fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.fancybox-is-open .fancybox-stage {
  overflow: hidden;
}
.fancybox-stage {
  direction: ltr;
  overflow: visible;
  transform: translateZ(0);
  z-index: 99994;
}
@media (max-height: 576px) {
  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px;
  }
}
// @include breakpoint-down(1240px) {
//   .open-wrapper__table,
//   .open-wrapper__id {
//     max-width: auto;
//   }
// }

@include breakpoint-down(1180px) {
  .open-wrap-slid {
    width: 100%;
  }
  .open-wrap-form {
    width: 100%;
  }
  .open-wrapper {
    flex-direction: column;
  }
  .open-disc {
    flex-direction: column;
    width: 100%;
  }
}
